.form__card {
  padding: 28px;
  margin-bottom: 27px;
  display: grid;
  grid-auto-rows: 60px;
  grid-template-columns: repeat(2, calc(50% - 14px));
  background-color: #FFFFFF;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  /* gap: 12px 24px; */
  gap: 12px 26px;
}

.form__field_row_last {
  align-self: end;
  height: 39px;
}

.form__field_row_double {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
}

.form__checkbox {
  position: relative;
  margin-bottom: 12px;
  padding: 0 0 0 50px;
}

.form__wrapper-btn {
  display: flex;
  justify-content: space-between;
  padding: 0 28px;
}

.form__send-btn {
  padding: 10px 25px;
  background-color: #6D5BD0;
  border-radius: 6px;
  border: 0;
  color: #ffffff;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}

.form__price {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: var(--main-font-color);
}

.form__number {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #6D5BD0;
}
